### mysql커넥터로 sql연결해서 파이썬 환경에서 사용하기

- 1.연결(디비단위연결/전체연결)

In [40]:
import mysql.connector

In [41]:
mydb=mysql.connector.connect (
    host='localhost',
    port='3306',
    user = 'root',
    db='zb',
    password= 'ryan1024@'
)

In [42]:
mydb

- 2.쿼리를 날릴수있는 커서지정

In [32]:
cur=mydb.cursor(buffered=True)
cur.execute('select * from celeb')
res=cur.fetchone()
print(res)

(1, '아이유', datetime.date(1993, 5, 16), 29, 'F', '가수,텔런트', 'EDAM엔터테이먼트')

- 3.excute로 쿼리를 실행시켰으면 close로 처리해줘야한다**

In [33]:
cur.close()

True

- 4.결과를 저장하려면

---

### sql파일을 python환경에서 실행 sql.open()

In [35]:
cur=mydb.cursor(buffered=True)
sql=open('C:/Users/home/.dbclient/query/1724147702905@@127.0.0.1@3306@zb/zbquerytest1.sql').read()
cur.execute(sql)

---

### fecthall된 DB데이터를 데이터프레임으로 저장 및 csv로 추출(Database table to dataframe, csv)

In [39]:
import pandas as pd
cur.execute('select * from snl_show')
res=cur.fetchall()
column_names = [i[0] for i in cur.description] #fecth결과는 컬럼명을 미 포함하기 때문에 컬럼명을 뽑아서 넣어줘야한다.
df=pd.DataFrame(res,columns=column_names)
df
#df.to_csv('result1.csv',index=False)

   ID  SEASON  EPISODE BROADCAST_DATE HOST
0   1       8        7     2020-09-05  강동원
1   2       8        8     2020-09-12  유재석
2   3       8        9     2020-09-19  차승원
3   4       8       10     2020-09-26  이수현
4   5       9        1     2021-09-04  이병헌
5   6       9        2     2021-09-11  하지원
6   7       9        3     2021-09-18   제시
7   8       9        4     2021-09-25  조정석
8   9       9        5     2021-10-02  조여정
9  10       9        6     2021-10-09  옥주현

---

### Dataframe, csv to database table

In [49]:
df=pd.read_csv('Data/police_station.csv')

In [50]:
df.isnull().sum()

서울특별시경찰청            0
서울시 종로구 사직로8길 31    0
dtype: int64

In [43]:
cur=mydb.cursor(buffered=True)

**쿼리의 자리표시자 사용 => 넣을 데이터를 튜플형태로 넣어야한다.**

In [51]:
sql='insert into police_station values (%s,%s)'

- row데이터를 하나씩 시리즈타입으로 뽑은뒤 튜플로 바꿔 sql의 자리표시자에 넣어준다

In [52]:
for i,row in df.iterrows():
    cur.execute(sql,tuple(row))
    mydb.commit()

- 결과확인

In [53]:
cur.execute('select * from police_station ')
res=cur.fetchall()
for i in res:
    print(i)

('서울강남경찰서', '서울특별시 강남구 테헤란로 114길 11')
('서울강동경찰서', '서울특별시 강동구 성내로 33')
('서울강북경찰서', '서울특별시 강북구 오패산로 406')
('서울강서경찰서', '서울특별시 양천구 화곡로 73')
('서울관악경찰서', '서울특별시 관악구 관악로5길 33')
('서울광진경찰서', '서울특별시 광진구 광나루로 447 광진소방서 임시청사 (능동)')
('서울구로경찰서', '서울특별시 구로구 가마산로 235')
('서울금천경찰서', '서울특별시 관악구 남부순환로 1435')
('서울남대문경찰서', '서울특별시 중구 한강대로 410')
('서울노원경찰서', '서울특별시 노원구 노원로 283')
('서울도봉경찰서', '서울특별시 도봉구 노해로 403')
('서울동대문경찰서', '서울특별시 동대문구 약령시로 21길 29')
('서울동작경찰서', '서울특별시 동작구 노량진로 148')
('서울마포경찰서', '서울특별시 마포구 마포대로 183')
('서울방배경찰서', '서울특별시 서초구 방배천로 54')
('서울서대문경찰서', '서울특별시 서대문구 통일로 113')
('서울서부경찰서', '서울특별시 은평구 은평로9길 15')
('서울서초경찰서', '서울특별시 서초구 반포대로 179')
('서울성동경찰서', '서울특별시 성동구 왕십리광장로 9')
('서울성북경찰서', '서울특별시 성북구 보문로 170')
('서울송파경찰서', '서울특별시 송파구 중대로 221')
('서울수서경찰서', '서울특별시 강남구 개포로 617')
('서울양천경찰서', '서울특별시 양천구 목동동로 99')
('서울영등포경찰서', '서울특별시 영등포구 국회대로 608')
('서울용산경찰서', '서울특별시 용산구 원효로89길 24')
('서울은평경찰서', '서울특별시 은평구 연서로 365')
('서울종로경찰서', '서울특별시 종로구 율곡로 46')
('서울종암경찰서', '서울특별시 성북구 종암로 135')
('서울중랑경찰서', '서울특별시 중랑구 중랑역로 137')
('서울중부경찰서', '서울특별시 중구 수표로 27')
('서울혜화경찰서', '서울특별시 종로구 창경궁로 112-16')

---
### 2020crime 데이터프레임 csv 테이블 화 하기

In [57]:
df_crime=pd.read_csv('Data/2020_crime.csv',encoding='euc-kr')
df_crime

     구분     죄종 발생검거    건수
0    중부     살인   발생     1
1    중부     살인   검거     1
2    중부     강도   발생     3
3    중부     강도   검거     4
4    중부  강간,추행   발생   113
..   ..    ...  ...   ...
305  수서  강간,추행   검거   194
306  수서     절도   발생  1010
307  수서     절도   검거   475
308  수서     폭력   발생  1394
309  수서     폭력   검거  1200

[310 rows x 4 columns]

In [59]:
df_crime.isnull().sum()

구분      0
죄종      0
발생검거    0
건수      0
dtype: int64

In [64]:
type(df_crime['건수'][0])

numpy.int64

- 2020_crime테이블 만들어놓기
```
CREATE TABLE 2020_crime
(
구분 varchar(10) NOT NULL PRIMARY KEY,
죄종 varchar(20),
발생검거 varchar(20),
건수 int);
```

- 데이터 insert

In [58]:
sql='insert into 2020_crime values (%s, %s, %s, %d)'

In [60]:
cur=mydb.cursor(buffered=True)

In [61]:
for i , row in df_crime.iterrows():
    cur.execute(sql,tuple(row))
    mydb.commit()

ProgrammingError: Not all parameters were used in the SQL statement