In [1]:
import mysql.connector

In [30]:
mydb=mysql.connector.connect (
    host='localhost',
    port='3306',
    user = 'root',
    db='zb',
    password= 'ryan1024@'
)

In [31]:
mydb

In [32]:
cur=mydb.cursor(buffered=True)
cur.execute('select * from celeb')
res=cur.fetchone()
print(res)

(1, '아이유', datetime.date(1993, 5, 16), 29, 'F', '가수,텔런트', 'EDAM엔터테이먼트')

**excute로 쿼리를 실행시켰으면 close로 처리해줘야한다**

In [33]:
cur.close()

True

### sql파일을 python환경에서 실행 sql.open()

In [35]:
cur=mydb.cursor(buffered=True)
sql=open('C:/Users/home/.dbclient/query/1724147702905@@127.0.0.1@3306@zb/zbquerytest1.sql').read()
cur.execute(sql)

### fecthall된 DB데이터를 데이터프레임으로 저장 및 csv로 추출

In [ ]:
import pandas as pd
cur.excute('select * from snl_show')
res=cur.fetchall()